html{
    font-size: 16px;
}

#main{
    min-height: 100vh;
    background-color: hsl(257, 40%, 49%);
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

#home{
    position: relative;
    z-index: 2;
    height: 127px;
}

.logo-container > img{
    height: auto;
    position: relative;
    z-index: 2;
    margin-left: 40px;
    margin-top: 38px;
    width: 32%;
}

.background{
    position: absolute;
    background-image: url('assets/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    top: 0px;
    width: 100%;
    height: 45%;
}

.mockup-container{
    width: 100%;
    height: 37%;
}

.mockup{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding-left: 11%;
    padding-right: 11%;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82%;
    margin: 0 auto;
    align-items: center;
}

h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20%;
}

p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 5%;
    text-align: center;
    color: #FFFFFF;
}

.button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.125rem;
    text-align: center;
    color: #684BB1;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    margin-top: 8%;
}

footer{
    height: 132px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.social{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 40%;
}

.icon {
    width: 28px;
    height: 28px;
    fill: white;
    padding: 5px;
}

@media (min-width:375px) and (max-width:550px){
    .mockup-container{
        overflow: hidden;
    }

    h1{
        height: 21%;
    }

    .register{ 
        margin: 0 auto;
    }
}


@media (min-width:551px) and (max-width:900px){
    #home{
        height: 20vh;
    }

    .logo-container > img{
        margin-left: 5%;
        margin-top: 5%;
        width: 17%;
    }

    .background{
        height: 100%;
        width: 100%;
    }

    .main-content{
        display: flex;
        margin: 0 auto;
        padding-left: 6%;
        padding-right: 6%;
    }

    .mockup-container{
        width: 70%;        
        height: 48%;
    }

    .mockup{
        padding-left: 0%;
        padding-right: 5%;
    }

    .description{
        width: 60%;
        position: relative;
        z-index: 2;
    }

    h1{
        margin-top: 30%;
    }

    .button{
        margin-top: 5%;
        max-resolution: 0 auto;
    }

    footer{
        margin-top: 79px;
    }

    .social{
        width: 20%;
        position: relative;
        z-index: 2;
    }
}

@media (min-width:901px) {
    body {
        background-color: #684BB1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    #main{
        min-height: auto;
        max-height: 880px;
        max-width: 1440px;
    }

    #home{
        height: 200px;
    }

    .logo-container > img{
        margin-left: 5%;
        margin-top: 5%;
        width: 13%;
    }

    .background{
        height: 100%;
        width: 100%;
    }

    .main-content{
        display: flex;
        margin: 0 auto;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .mockup-container{
        width: 60%;        
        height: 100%;
    } 

    .mockup{
        padding-left: 0%;
        padding-right: 7%;
        margin: 0;
    }

    .description{
        width: 40%;
        justify-content: start;
        align-items: flex-start;
        margin: 0;
        position: relative;
        z-index: 2;
    }

    h1 {
        text-align: left;
        font-size: 2.5rem;
        margin-top: 7%;
        line-height: 3.75rem;
    }

    p {
        text-align: left;
        font-size: 1.125rem;
        line-height: 1.69rem;
    }

    .button{
        margin-top: 12%;
        height: 56px;
        border-radius: 28px;
        font-size: 1.125rem;
        line-height: 1.69rem;
    }

    .button:hover{
        color: white;
        background-color: #E880E8;
        cursor: pointer;
    }

    footer{
        height: 152px;
        justify-content: flex-end;
        padding-right: 6%;
        margin-top: 2%;
    }
    
    .social{
        display: flex;
        width: 10%;
        position: relative;
        z-index: 2;
    }
    
    .icon {
        width: 40px;
        height: 40px;
        fill: white;
        padding: 8px;
    }

    .icon:hover{
        fill: #E880E8;
        cursor: pointer;
    }

}

